/******************VERSION DESKTOP******************/

header {
  align-items: center;
  display: inline-flex;
  margin: 40px 10% -12px 10%;
  /*width: 80%;*/
}

.logo-header {
  height: 68px;
  width: 25%;
}

nav {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}

.nav-links {
  margin: auto 25px;
  text-decoration: none;
  color: var(--red);
  font-size: 1.5rem;
}

.nav-links:hover {
  color: #000000;
}

.nav-links:active {
  text-decoration-line: underline;
}

/*****************VERSION MOBILE*************************/
@media screen and (max-width: 768px) {
  header {
    width: 87%;
    margin: 35px 10% -12px 6%;
  }

  .logo-header {
    width: 46%;
    height: 50%;
  }

  nav {
    margin-left: 34px;
  }

  .nav-links {
    width: 83px;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 425px) {
  header {
    width: 65%;
    /*margin: 35px 0 -12px 6%;*/
  }
}
