.home-gallery {
    display: flex;
    justify-content: space-evenly;
    gap: 28px;
    flex-wrap: wrap;
    background-color: #F7F7F7;
    border-radius: 25px;
    margin: 30px 0;
    padding: 35px;
}  

@media screen and (max-width: 768px) {
    .home-gallery {
        width: 100%;
        background-color: white;
        padding: 0;
    }

}