/****************GÉNÉRAL*******************/
:root {
  --red: #FF6060;
  --white: 	#FFFFFF;
  --lightgrey: #F6F6F6;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
