.kasa-footer {
    background-color: black;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

 
.copyrights-text {
    color: white;
}

.logo-footer {
    height: 38px;
    width: 100px;
}