.banner {
    width: 100%;
    height: 225px;
    position: relative;
    border-radius: 25px; 
    margin-top: 55px;   
}

.banner-img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(77%) brightness(87%);
}


.banner-text {
    position: absolute;
    left: 19%;
    top: 41%;
    font-size: 48px;
    color: white;
    font-weight: 500;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .banner-text {
        left: 9%;
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    .banner-text {
        width: 69%;
        transform: translateY(-13%);
    }
}
